<div id="sidebar">
	<ul id="sidebar-nav">
		<li>Welcome <%= currentUser.firstName %></li>
		<li><a href="/admin/dashboard">Dashboard</a></li>
		<li><a href="/admin/donations/pending">Pending Donations</a></li>
		<li><a href="/admin/donations/pendingfood">Pending Food Donations</a></li>
		<li><a href="/admin/donations/pendingcloths">Pending Cloths Donations</a></li>
		<li><a href="/admin/donations/pendingstationary">Pending Stationary Donations</a></li>
		<li><a href="/admin/donations/pendingtoys">Pending Toys Donations</a></li>
		<li><a href="/admin/donations/previous">Previous Donations</a></li>
		<li><a href="/admin/agents">Agents</a></li>
		<li><a href="/admin/campaignrequest">Post Campaign</a></li>
		<li><a href="/admin/ourcampaigns">Our Campaign</a></li>
        <li><a href="/admin/profile">My Profile</a></li>
		<li><a href="/auth/logout" class="btn">Logout</a></li>
	</ul>
</div>