<h1 class="m-4 color-theme">About us</h1>
	
<div class="bg-white m-4 p-4 shadow" style="border:5px solid green;">
	<ul class="fs-5">
	<p>Annadaan is an initiative that revolves around 
		helping the needy by connecting NGOs and common people. The donors shall be able to see a 
		plurality of options by which they can donate. The NGOs will get the details of the people 
		wishing to donate via this platform and thus a network is established between donors, people 
		who aid the donors in donating (NGOs) .Annadaan aims to bring about transparency, 
		clarity and swiftness in the process of donation thus aiming to mitigate prevailing issues in whatever manner it is possible for us to do so. </p>
	</ul>
</div>