<h1 class="m-4 color-theme">Our Mission</h1>
	
<div class="bg-white m-4 p-4 shadow" style="border:5px solid green;">
	<ul class="fs-5">
		<p>Food is one of the basic necessities of humans, and it stands first among all basic needs - food, 
			shelter, and clothing. It is important as it nourishes the human body- sustaining the very 
			existences of humans. However, with the rising population and development of this country, 
			food wastage has risen to a new high.</p>
			<p>Despite phenomenal industrial and economic growth and while India produces sufficient food 
				to feed its population, it is unable to provide access to food to a large number of people. 
				According to FAO estimates in ‘The State of Food Security and Nutrition in the World, 2020 
				report, 189.2 million people are undernourished in India. By this measure 14% of the 
				population is undernourished in India. According to the latest survey, 1.3 billion tons of food 
				is thrown as waste every year.Additionally, one-third of the food consumed is stated as leftovers.</p>
				<p> The main Goal of Annadaan is to reduce the amount of food wasted and being provided to the needy people.</p>
			</ul>
</div>