
  <div class="row section2">
    <div class="col-lg-6"  >
      <p style="padding-top: 2.5rem ;"><h2 class="Quote1" style="padding-top: 1rem;padding-right: 100px;padding-left: 7rem;font-weight: 1000;">Be The <span style="color:#fe4e68">Reason</span></h2>
      <h2 class="Quote" style="padding-left:7rem ;font-weight: 600;">Someone is Fed Today!</h2>
      <p style="padding-left:7rem;padding-right:10rem ; font-size: small; padding-top: 2rem;">There is nothing greater than love invested in helping to feed the impoverished living in hunger.Each of your contribition means a one less empty stomach.So Lets do our fair share in fighting hunger crisis.</p>
      <button onclick="location.href='/auth/login'" type="button" class="btn btn-outline-primary" style="margin-left: 8rem;margin-top: 1rem;" ><i class="fa-solid fa-bowl-food"></i>&nbsp; Donate Now</button>
    
    </p>
    </div>
    <div class="col-lg-6" >
		<img class="donationHome" src="/assets/images/Tiny people standing near box of donation food for delivery.jpg"></div>
		<a  style="text-align: right; font-size: x-small; padding: 0;" href="https://www.freepik.com">designed by Pch.vector - Freepik.com</a>
	</div>
  </div>

